<div>
    <div *ngIf="megjelenitheto">
        <h2>
            Fájl feltöltése 
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>add</mat-icon>
        </button>
        <input #inputField type="file" hidden (change)="uploadImage($event)" />
        <mat-progress-bar mode="indeterminate" *ngIf="feltolt"></mat-progress-bar>
    </h2>
    </div>
    <div>
        <h2>Eddig feltöltött fájljaid</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Files Column -->
            <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef> Fájl neve (megtekintéshez kattints a nevére) </th>
                <td mat-cell *matCellDef="let element"><a [href]="element.url" target="_blank"> {{element.fileName}} </a></td>
            </ng-container>

            <!-- Upload date Column -->
            <ng-container matColumnDef="uploadDate">
                <th mat-header-cell *matHeaderCellDef> Feltöltési dátum </th>
                <td mat-cell *matCellDef="let element"> {{element.uploadDate.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>