.form-container {
    display: block;
    max-width: 600px;
    margin: auto;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;

}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margint-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}

.profile-image>img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-image {
    width: 120px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;

    button {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: -8%;
    }
}

h2 {
    font-size: 30px;
}

.forgot-label {
    margin-top: 10px;
    font-size: 2vh;
    color: #005cbb;
    text-align: center;
    cursor: pointer;
}